*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'montserrat', sans-serif;
    background-color: #f6f8f8;
} 
header{
    height: 70px;
    padding-top: 10px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
}
.logo {
    vertical-align: middle;
    padding-left: 25px;
}
  
.title {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 50px;
}
.container {
    margin: auto;
    background-color: #FFFFFF;
    height: 620px;
    width: 700px;
    border-radius: 8px;
}
.b-container {
    padding: 20px 40px;
}